.container {
    max-width: 90vw;
    /* border:1px solid blue; */
    margin: 20px auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.category {
    background-color: #fff;
    /* border: 1px solid purple; */
    background-color: black;
    /* width:100px; */
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
    margin: auto;
    height:20vh;
    width:84%;


}

.category img {
    width: 100%;
    height: 67%;
}
.category :hover{
    opacity: .8;
    border:1px solid rgba(83, 82, 82, 0.1);
    cursor: pointer;
}

.category-content {
    padding: 10px;
    text-align: center;
    color: white;
}