<h1>Sign up form USER</h1>

<div *ngIf="!showlogin" class="container">
  <form #userSignup="ngForm" (ngSubmit)="signUp(userSignup.value)">
    <label for="name">Name:</label>
    <input
      type="text"
      id="name"
      name="name"
      ngModel
      placeholder="Enter your name"
      required
      #name="ngModel"
    />
    <p class="Invalid-input">
      <span *ngIf="name.invalid && name.touched">*enter the name</span>
    </p>

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      placeholder="Enter your password"
      required
      #password="ngModel"
    />
    <p class="Invalid-input">
      <span *ngIf="password.invalid && password.touched"
        >*enter the password</span
      >
    </p>

    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      placeholder="Enter your email"
      required
      #email="ngModel"
    />
    <p class="Invalid-input">
      <span *ngIf="email.invalid && email.touched">*enter the email</span>
    </p>

    <input type="submit" value="Submit" />
    <a class="toggleLink" (click)="openlogin()"
      >Already have an account signin</a
    >
  </form>
</div>
<div *ngIf="showlogin" class="container">
  <form #userSignIn="ngForm" (ngSubmit)="signIn(userSignIn.value)">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      name="email"
      ngModel
      placeholder="Enter your email"
      required
      #email="ngModel"
    />
    <p class="Invalid-input">
      <span *ngIf="email.invalid && email.touched">*enter the email</span>
    </p>

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      ngModel
      placeholder="Enter your password"
      required
      #password="ngModel"
    />
    <p class="Invalid-input">
      <span *ngIf="password.invalid && password.touched"
        >*enter the password</span
      >
    </p>

    <input type="submit" value="Submit" />
    <a class="toggleLink" (click)="opensignup()">Don't have account signup</a>
  </form>
</div>
